@model Application.DTO_s.CreateRoleDTO

@{
    ViewData["Title"] = "Create";
}


<h1>CreateRole</h1>
<hr />
<div class="row">
    <div class="col-md-4">
       
        <div id="messageContainer"></div>
        <div class="form-group">
            <input type="hidden" id="roleId" value="@Model.Id" />
            <input type="hidden" id="ConcurrencyStamp" value="@Model.ConcurrencyStamp" />

            </div>
            <div class="form-group">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="ConcurrencyStamp" value="@Model.ConcurrencyStamp" />

            <input type="text" id="roleName" class="form-control" value="@Model.Name" />
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" id="isActive" @(Model.IsActive ? "checked" : "") />
                Active
            </label>
        </div>
            <div class="form-group">
                <button id="saveRoleBtn" class="btn btn-primary">Create</button>
            </div>
        
    </div>
</div>

<div>
    <a asp-action="GetRoles">Back to List</a>
</div>

<script src="~/js/Role.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
