@model IEnumerable<TaskManagementSystem.ViewModels.GetRolesViewModels>

@{
    ViewData["Title"] = "GetRoles";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create" id="saveRoleBtn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                    <a asp-action="UpdateRoles" asp-controller="Role" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <button class="btn btn-info details-role-btn" info-id="@item.Id">Details</button>
                    <button class="btn btn-danger delete-role-btn" data-id="@item.Id">Delete</button>
                </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/Role.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
